<div id="index__filters" class="column is-one-third is-hidden-touch" data-controller="index-filter-icons">
  <%= form_with url: coffee_shops_path, local: true, method: :get do |form| %>
  <!-- FILTER > LOCATION -->
  <div class="field">
    <p class="control has-icons-left">
      <%= form.text_field :location, value: "#{searched_location(@coffee_shops_params[:location])}", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fas fa-city"></i>
      </span>
    </p>
  </div>
  <!-- FILTER > DISTANCE -->
  <div class="field">
    <div class="control is-expanded has-icons-left">
      <div class="select is-fullwidth">
        <select><%= distance_options %></select>
      </div>
      <div class="icon is-small is-left">
        <i class="fas fa-map-marker-alt"></i>
      </div>
    </div>
  </div>
  <!-- FILTER > RATING -->
  <div class="field">
    <label class="label">Rating</label>
    <div class="control">
      <% 5.times do | val | %>
        <%= radio_button_tag(:rating, "#{val}", @coffee_shops_params[:rating] == "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' })%>
        <%= rating_options(:rating, val) %>
      <% end %>
    </div>
  </div>

  <!-- FILTER > PLUG SOCKETS -->
  <div class="field">
    <label class="label">Plug sockets</label>
    <div class="control">
    <% 3.times do |val| %>
      <%= radio_button_tag(:plug_sockets, "#{val}", @coffee_shops_params[:plug_sockets] == "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' }) %>
      <%= feature_rating_options(:plug_sockets, val) %>
    <% end %>
    </div>
  </div>

  <!-- FILTER > COMFORT -->
  <div class="field">
    <label class="label">Comfort</label>
    <div class="control">
    <% 3.times do |val| %>
      <%= radio_button_tag(:comfort, "#{val}", @coffee_shops_params[:comfort] == "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' }) %>
      <%= feature_rating_options(:comfort, val) %>
    <% end %>
    </div>
  </div>

  <!-- FILTER > BUSYNESS -->
  <div class="field">
    <label class="label">Busyness</label>
    <div class="control">
    <% 3.times do |val| %>
      <%= radio_button_tag(:busyness, "#{val}", @coffee_shops_params[:busyness] == "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' }) %>
      <%= feature_rating_options(:busyness, val) %>
    <% end %>
    </div>
  </div>

  <label class="label">Tags</label>
  <div class="tags">
    <span class="tag">
      Serves Food
      <button class="delete is-small"></button>
    </span>
    <span class="tag">
      Open late
      <button class="delete is-small"></button>
    </span>
  </div>

  <!-- FILTER > HAS WIFI -->
  <div class="field">
    <label class="checkbox">
      <%= form.check_box :has_wifi, checked: @coffee_shops_boolean_params[:has_wifi] == "1" %>
      Only show results with wifi
    </label>
  </div>

  <!-- FILTER > WIFI RESTRICTIONS -->
  <div class="field">
    <label class="checkbox">
      <%= form.check_box :no_wifi_restrictions, checked: @coffee_shops_boolean_params[:no_wifi_restrictions] == "1" %>
      Filter out results with wifi restrictions
    </label>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <%= form.submit "Search", class: "button is-primary" %>
    </p>
    <p class="control">
      <%= link_to "Clear all", coffee_shops_path, :class => "button is-light" %>
    </p>
  </div>
  <% end %>
</div>