<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
            </div>
            <div class="field">
              <p class="control">
              <%= link_to new_coffee_shop_review_path(@coffee_shop) do %>
                <button class="button">Post review</button>
              <% end %>
              </p>
            </div>
          </div>
        </article>
        <% @coffee_shop.reviews.order('updated_at DESC').each do |review| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= review.user.first_name %></strong>
                <br><%= review.content %><br>
                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
              </p>
            </div>
          </div>
        </article>
        <% end %>
      </div>
      <div class="column">
        Second column
      </div>
    </div>
  </div>
</section>


  <!--REVIEWS SECTION-->
  <!-- <div class="d-flex flex-row wrap">
      <% @coffee_shop.reviews.order('updated_at DESC').each do |review| %>
        <div class="review">
          <div class="row no-gutters">
            <div class="col-3">
              <div class="avatar-review"></div>
            </div>
            <div class="col-9">
              <div>
                <p><strong><%= review.user.first_name %></strong></p>
                <% if ((Time.now - review.updated_at) / 1.day).round == 0 %>
                  <p>Today</p>
                <% elsif ((Time.now - review.updated_at) / 1.day).round == 1 %>
                  <p>Yesterday</p>
                <% else %>
                  <p><%= ((Time.now - review.updated_at) / 1.day).round %> days ago</p>
                <% end %>
                <p>
                  <% (review.rating + 1).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col">
              <p class="bottom-padding"><%= review.content %></p>
            </div>
          </div>
          <div class="d-flex flex-row wrap">
            <% if review.review_photos.present? %>
              <% review.review_photos.each do |review_photo| %>
                <div>
                  <%= cl_image_tag review_photo.photo, class: "review-photo-thumbnail margin-bottom-md" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div> -->
