<%= render 'index__info_bar' %>
<section class="section">
  <div class="container">
    <div class="columns">
      <!-- FILTERS -->
      <%= render 'index__filters' %>
      <div class="column has-text-centered">
        <%= render 'index__map' %>
        <section class="section u-padding-lr-0px">
          <div class="container">            

            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item has-text-left">
                  <div>
                    <p class="heading">Displaying</p>
                    <p class="title is-5"><%= @coffee_shops.count(:all) %> listings</p>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item has-text-right">
                  <div class="field">
                    <div class="control">
                      <div class="select is-primary">
                        <%= link_to 'Link', params.slice(:sort).merge(:order_by => "rating") %>
                        <%= link_to 'Top rated', coffee_shops_path(:order_by => "rating") %>
                        <%= link_to 'Distance', coffee_shops_path(:order_by => "distance") %>
                        <%= link_to 'Wifi Speed', coffee_shops_path(:order_by => "wifi_speed") %>
                        <%= link_to 'Price', coffee_shops_path(:order_by => "price") %>
                        <select>
                          <option></option>
                          <option>Distance</option>
                          <option>Wifi Speed</option>
                          <option>Price</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>

            <div class="columns is-multiline">
            <% @coffee_shops.each do |coffee_shop| %>
              <%= render partial: "index__cards", locals: { coffee_shop: coffee_shop } %>
            <% end %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<%= render 'index__pagination' %>