<%= render 'index__info_bar' %>
<section class="section">
  <div class="container">
    <div class="columns">
      <!-- FILTERS -->
      <%= render 'index__filters' %>
      <div class="column has-text-centered">
        <%= render 'index__map' %>
        <div class="columns">
          <%= render 'index__cards' %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'index__pagination' %>