<div class="container">
  <div class="row">
    <div class="col-3">
      <%= form_with url: coffee_shops_path, local: true, method: :get, class: "form-group col-xs-6" do |form| %>
        <%= form.label :address %>:
        <%= form.text_field :address, value: "#{@coffee_shop_params[:address]}", class: "form-control" %>

        <%= form.label :rating, "Minimum rating:" %>
        <br>
        <div class="form-check form-check-inline">
          <%= radio_button_tag(:rating, "1", @coffee_shop_params[:rating] == "1", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "2", @coffee_shop_params[:rating] == "2", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "3", @coffee_shop_params[:rating] == "3", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "4", @coffee_shop_params[:rating] == "4", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "5", @coffee_shop_params[:rating] == "5", class: "form-check-input") %>
        </div>
        <br>

        <%= form.label :plug_sockets %>:
        <%= form.number_field :plug_sockets, value: "#{@coffee_shop_params[:plug_sockets]}", class: 'form-control' %>

        <%= form.label :comfort %>:
        <%= form.number_field :comfort, value: "#{@coffee_shop_params[:comfort]}", class: 'form-control' %>

        <%= form.label :busyness %>:
        <%= form.number_field :busyness, value: "#{@coffee_shop_params[:busyness]}", class: 'form-control' %>

        <%= form.label :upload_speed %>:
        <%= form.number_field :upload_speed, value: "#{@coffee_shop_params[:upload_speed]}", class: 'form-control' %>

        <%= form.label :serves_plant_milk %>:
        <label class="switch">
          <%= form.check_box :serves_plant_milk, checked: @coffee_shop_boolean_params[:serves_plant_milk] == "1", class: "slider round" %>
          <span class="slider round"></span>
        </label>
        <br>

        <%= form.label :serves_smoothies %>:
        <label class="switch">
          <%= form.check_box :serves_smoothies, checked: @coffee_shop_boolean_params[:serves_smoothies]  == "1", class: 'form-control' %>
          <span class="slider round"></span>
        </label>
        <br>

        <%= form.label :serves_food %>:
        <label class="switch">
          <%= form.check_box :serves_food, checked: @coffee_shop_boolean_params[:serves_food]  == "1", class: 'form-control' %>
          <span class="slider round"></span>
        </label>
        <br>

        <%= form.label :air_conditioning %>:
        <label class="switch">
          <%= form.check_box :air_conditioning, checked: @coffee_shop_boolean_params[:air_conditioning] == "1", class: 'form-control' %>
          <span class="slider round"></span>
        </label>
        <br>

        <%= form.label :no_wifi_restrictions, "Filter out results with wifi restrictions:" %>
          <label class="switch">
          <%= form.check_box :no_wifi_restrictions, checked: @coffee_shop_boolean_params[:no_wifi_restrictions] == "1", class: "form-control" %>
          <span class="slider round"></span>
        </label>
        <br>
        <br>

        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>

    </div>

    <div class="col-9" style="background-color:grey;">
      <div class="d-flex flex-row wrap">
        <% if @coffee_shops%>
          <%= render 'shared/cards' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
