<div class="container">
  <%= form_with model: @coffee_shop, local: true, method: :post do |field| %>

    <div class="form-row">
      <div class="form-group col-md-6 dropdown">
        <%= field.label :name %>:
        <%= field.text_field :name, required:true, class: 'form-control', id: 'venueNameInput', placeholder: "Search..." %>
        <div id="myDropdown" class="dropdown-content invisible">
          <!-- <a href="#about">Item</a>
          <a href="#about">Item</a> -->
        </div>
      </div>
    </div>

   <!--  <div class="dropdown">
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a href="#about">Item1</a>
        <a href="#base">Item2</a>
      </div>
    </div>
 -->
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :description %>:
        <%= field.text_field :description, id: 'description', class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :address %>:
        <%= field.text_field :address, id: 'address', class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :serves_plant_milk %>:
        <%= field.check_box :serves_plant_milk, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :serves_smoothies %>:
        <%= field.check_box :serves_smoothies, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :serves_food %>:
        <%= field.check_box :serves_food, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :air_conditioning %>:
        <%= field.check_box :air_conditioning, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= field.label :wifi_restrictions %>:
        <%= field.number_field :wifi_restrictions, class: 'form-control' %><br />
      </div>
    </div>

    <%= field.hidden_field :longitude, id: 'longitude' %>
    <%= field.hidden_field :latitude, id: 'latitude' %>
    <%= field.hidden_field :foursquare_id, id: 'fourSquareId' %>

    <%= field.submit "Submit new listing", { class: "btn-primary" } %>
  <% end %>

  <ul id="resultsList"></ul>
</div>
