<div class="container">
  <h2>Name: <%= @coffee_shop.name %> ID: <%= @coffee_shop.id %></h2>
  <p>Description: <%= @coffee_shop.description %></p>
  <p>Rating: <% if @coffee_shop.rating.nil? %>
              n/a
            <% else %>
              <%= @coffee_shop.rating.round(1) %>
            <% end %></p>

  <p>Wifi Speeds</p>
  <p>Upload Speed: <%= @coffee_shop.upload_speed %></p>
  <p>Download Speed: <%= @coffee_shop.download_speed %></p>
  <p>PING: <%= @coffee_shop.ping %></p>
  <p>Plug sockets: <%= @coffee_shop.plug_sockets %></p>
  <p>Comfort: <%= @coffee_shop.comfort %></p>
  <p>Busyness: <%= @coffee_shop.busyness %></p>

  <%= simple_form_for [@coffee_shop, @review] do |review| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= review.label :content %>:
        <%= review.text_area :content, required:true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :rating %>:
        <%= review.number_field :rating, required:true, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :plug_sockets %>:
        <%= review.number_field :plug_sockets, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :comfort %>:
        <%= review.number_field :comfort, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :busyness %>:
        <%= review.number_field :busyness, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :upload_speed %>:
        <%= review.number_field :upload_speed, class: 'form-control' %><br />
      </div>
    </div>

    <div class="form-row">
      <%= review.simple_fields_for :review_photo do |review_photo| %>
        <%= review_photo.input :photo %>
      <% end %>
    </div>

    <%= review.submit "Submit review", { class: "btn-primary" } %>
  <% end %>


  <% @coffee_shop.reviews.each do |review| %>
    <h3><%= review.user.first_name %></h2>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <% if review.review_photos.first.present? %>
      <p><%= cl_image_tag review.photo, height: 90, width: 160, crop: :fill %></p>
    <% end %>
  <% end %>
</div>
