<div class="cover-image-container relative-element">
  <%= image_tag ("petr-sevcovic-594807-unsplash.jpg"), :class => "cover-image absolute-element" %>
    <div class="container relative-element">
      <div class="cover-image-text-container">
        <h1 class="light"><%= @coffee_shop.name %></h1>
        <h5 class="regular"><%= @coffee_shop.description %></h5>
        <h2>
          <% if @coffee_shop.rating.nil? %>
            No ratings yet.
          <% else %>
            <% @coffee_shop.rating.round(0).times do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% end %>
        </h2>
        <h6 class = "regular">Based on <%= @coffee_shop.reviews.count %> reviews.</h6>
      </div>

      <div>
        <p>Wifi Speeds</p>
        <p>Upload Speed: <%= @coffee_shop.upload_speed %></p>
        <p>Download Speed: <%= @coffee_shop.download_speed %></p>
        <p>PING: <%= @coffee_shop.ping %></p>
        <div class="smile-rating">
          <p>Plug sockets:</p>
          <% @coffee_shop.plug_sockets.round(0).times do %>
            <i class="fas fa-smile"></i>
          <% end %>
        </div>
        <div class="smile-rating">
          <p>Plug sockets:</p>
          <% @coffee_shop.comfort.round(0).times do %>
            <i class="fas fa-smile"></i>
          <% end %>
        </div>
        <div class="smile-rating">
          <p>Plug sockets:</p>
          <% @coffee_shop.busyness.round(0).times do %>
            <i class="fas fa-smile"></i>
          <% end %>
        </div>
      </div>

      <div>
        <%= link_to new_coffee_shop_review_path(@coffee_shop) do %>
          <div class="btn btn-primary">Create a review</div>
        <% end %>
      </div>

      <div>
        <% @coffee_shop.reviews.each do |review| %>
          <h3><%= review.user.first_name %></h3>
          <p><%= review.content %></p>
          <p><%= review.rating %></p>
          <% if review.review_photos.present? %>
            <% review.review_photos.each do |review_photo| %>
              <%= cl_image_tag review_photo.photo, height: 90, width: 160, crop: :fill %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
