<div class="container">
  <h2>Name: <%= @coffee_shop.name %> ID: <%= @coffee_shop.id %></h2>
  <p>Description: <%= @coffee_shop.description %></p>
  <p>Rating: <% if @coffee_shop.rating.nil? %>
              n/a
            <% else %>
              <%= @coffee_shop.rating.round(1) %>
            <% end %></p>

  <p>Wifi Speeds</p>
  <p>Upload Speed: <%= @coffee_shop.upload_speed %></p>
  <p>Download Speed: <%= @coffee_shop.download_speed %></p>
  <p>PING: <%= @coffee_shop.ping %></p>
  <p>Plug sockets: <%= @coffee_shop.plug_sockets %></p>
  <p>Comfort: <%= @coffee_shop.comfort %></p>
  <p>Busyness: <%= @coffee_shop.busyness %></p>

  <%= simple_form_for [@coffee_shop, @review] do |review| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.input :upload_speed %>
    <%= f.input :download_speed %>
    <%= f.input :ping %>
    <%= f.input :plug_sockets %>
    <%= f.input :busyness %>
    <%= f.input :comfort %>
  <%= review.submit %>
<% end %>




  <% @coffee_shop.reviews.each do |review| %>
    <h3><%= review.user.first_name %></h2>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <% if review.review_photos.first.present? %>
      <p><%= cl_image_tag review.photo, height: 90, width: 160, crop: :fill %></p>
    <% end %>
  <% end %>
</div>
