<h2>Name: <%= @coffee_shop.name %></h2>
<p>Description: <%= @coffee_shop.description %></p>
<p>Rating: <%= @coffee_shop.rating %></p>

<p>Wifi Speeds</p>
<p>Upload Speed: <%= @coffee_shop.feature_set.wifi_speed.upload_speed %></p>
<p>Download Speed: <%= @coffee_shop.feature_set.wifi_speed.download_speed %></p>
<p>PING: <%= @coffee_shop.feature_set.wifi_speed.ping %></p>


<% @coffee_shop.reviews.each do |review| %>
  <h3><%= review.user.first_name %></h2>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>
