<!--BANNER SECTION-->
<div class="cover-image-container relative-element">
  <div class="cover-image-gradient absolute-element"></div>
  <%= image_tag ("petr-sevcovic-594807-unsplash.jpg"), :class => "cover-image absolute-element" %>
  <div class="cover-image-text-container relative-element">
    <h1 class="light"><%= @coffee_shop.name %></h1>
    <h5 class="regular"><%= @coffee_shop.description %></h5>
    <h2>
      <% if @coffee_shop.rating.nil? %>
        No ratings yet.
      <% else %>
        <% @coffee_shop.rating.round(0).times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% end %>
    </h2>
    <h6 class = "regular">Based on <%= @coffee_shop.reviews.count %> reviews.</h6>
  </div>
</div>

<!--INFO SECTION-->
<div class="container">

  <!--TEST RATINGS SECTION-->
  <div class="d-flex justify-content-between padding-top-bottom">
    <div id="wifi-rating-block" class="d-inline-flex">
      <h3><i class="fa fa-wifi text-primary right-margin" aria-hidden="true"></i></h3>
      <div>
        <strong><%= @coffee_shop.upload_speed.round(0) %> Mbps Wifi</strong>
        <p><%= @coffee_shop.download_speed.round(0) %> Mbps download speed: </p>
        <p><%= @coffee_shop.ping.round(0) %> ms PING</p>
      </div>
    </div>
    <div id="price-rating-block" class="align-self-center">
      <div class="d-flex justify-content-between">
        <% 3.times do %>
          <h3><i class="fas fa-dollar-sign"></i></h3>
        <% end %>
      </div>
      <div class="d-flex justify-content-around">
        <p>Price</p>
      </div>
    </div>
    <div id="plug-socket-rating-block" class="rating-block align-self-center">
      <div class="d-flex justify-content-between">
        <% (@coffee_shop.plug_sockets.round(0) + 1).times do %>
          <h3><i class="fas fa-smile text-primary"></i></h3>
        <% end %>
        <% (2 - @coffee_shop.plug_sockets.round(0)).times do %>
          <h3><i class="fas fa-smile dark-gray"></i></h3>
        <% end %>
      </div>
      <div class="d-flex justify-content-around">
        <p>Plug sockets</p>
      </div>
    </div>
    <div id="comfort-rating-block" class="rating-block align-self-center">
      <div class="d-flex justify-content-between">
        <% (@coffee_shop.comfort.round(0) + 1).times do %>
          <h3><i class="fas fa-smile text-primary"></i></h3>
        <% end %>
        <% (2 - @coffee_shop.comfort.round(0)).times do %>
          <h3><i class="fas fa-smile dark-gray"></i></h3>
        <% end %>
      </div>
      <div>
        <p class="d-flex justify-content-around">Comfort</p>
      </div>
    </div>
    <div id="busyness-rating-block" class="rating-block align-self-center">
      <div class="d-flex justify-content-between">
        <% (@coffee_shop.busyness.round(0) + 1).times do %>
          <h3><i class="fas fa-smile text-primary"></i></h3>
        <% end %>
        <% (2 - @coffee_shop.busyness.round(0)).times do %>
          <h3><i class="fas fa-smile dark-gray"></i></h3>
        <% end %>
      </div>
      <div>
        <p class="d-flex justify-content-around">Busyness</p>
      </div>
    </div>
  </div>

  <!--DIVIDING LINE-->
  <div class="divider"></div>

  <!-- FEATURES SECTION-->
  <div class="row">
    <% if @coffee_shop.serves_food %>
      <div class="col">
        <p class="padding">Serves food</p>
      </div>
    <% end %>
    <% if @coffee_shop.serves_plant_milk %>
      <div class="col">
        <p class="padding">Serves plant milk</p>
      </div>
    <% end %>
    <% if @coffee_shop.serves_smoothies %>
      <div class="col">
        <p class="padding">Serves smoothies</p>
      </div>
    <% end %>
    <% if @coffee_shop.air_conditioning %>
      <div class="col">
        <p class="padding">Air conditioning</p>
      </div>
    <% end %>
  </div>

  <!--DIVIDING LINE-->
  <div class="divider"></div>

    <!-- TOGGLES SECTION-->
  <div class="row">
    <div class="col-lg-2">
      <p class="padding">Reviews</p>
    </div>
    <div class="col-lg-2">
      <p class="padding">Photos</p>
    </div>
    <div class="col-lg-2">
      <p class="padding">Map</p>
    </div>
  </div>

  <!--DIVIDING LINE-->
  <div class="divider"></div>

  <!--CREATE A REVIEW BUTTON-->
  <div>
    <%= link_to new_coffee_shop_review_path(@coffee_shop) do %>
      <div class="btn btn-primary">Create a review</div>
    <% end %>
  </div>

  <!--REVIEWS SECTION-->
  <div class="d-flex flex-row wrap">
      <% @coffee_shop.reviews.each do |review| %>
        <div class="review">
          <div class="row no-gutters">
            <div class="col-3">
              <div class="avatar-review"></div>
            </div>
            <div class="col-9">
              <div>
                <p><strong><%= review.user.first_name %></strong></p>
                <p>28 days ago</p>
                <p>
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col">
              <p class="bottom-padding"><%= review.content %></p>
            </div>
          </div>
          <div class="d-flex flex-row wrap">
            <% if review.review_photos.present? %>
              <% review.review_photos.each do |review_photo| %>
                <div>
                  <%= cl_image_tag review_photo.photo, class: "review-photo-thumbnail" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
