<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">Edit <%= resource_name.to_s.humanize %></h1>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "New password" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm new password" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          <p class="help is-danger">Password validation</p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :current_password, autocomplete: "current-password", class: "input", placeholder: "Current password" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <p class="help is-danger">We need your current password to confirm your changes.</p>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <%= f.submit "Save changes", class: "button is-primary" %>
            </p>
            <p class="control">
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-light is-danger" %>
            </p>
          </div>
        </div>
        <div class="column">
          <!-- Second column -->
        </div>
      </div>
    </div>
  </section>
<% end %>