<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column" id="sign_up_form" data-controller="password-validation">
          <h1 class="title">Sign up</h1>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email", :data => { :target => 'password-validation.email', :action => 'keyup->password-validation#emailEntryValidation' } %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password", :data => { :target => 'password-validation.password', :action => 'keyup->password-validation#passwordEntryValidation' } %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm password", :data => { :target => 'password-validation.passwordConfirm', :action => 'keyup->password-validation#passwordConfirmationValidation' } %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div data-target="password-validation.validationMessageContainer">
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <%= f.submit "Sign up", class: "button is-primary" %>
            </p>
            <p class="control">
              <%= link_to "Back", :back, class: "button is-light is-light" %>
            </p>
          </div>
        </div>
        <div class="column">
          <!-- Second column -->
        </div>
      </div>
    </div>
  </section>
<% end %>