<%= form_with model: venue, local: true do |venue_form| %>
  <section class="section" data-controller="venue-autofill">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
        <%= venue.form_heading %>
          <div class="field c-field-has-autocomplete-results" data-controller="algolia-places">
            <label class="label">Location</label>
            <p class="control has-icons-left">
              <%= venue_form.text_field :location,
              class: "input", value: "#{venue.venue_city}", placeholder: "Search for a location...",
              :data => {
                :target => 'venue-autofill.locationInput algolia-places.addressInput',
                :action => 'keyup->algolia-places#changeHandler',
                :request_path => location_search_path
              } %>
              <span class="icon is-small is-left">
                <i class="fas fa-map-marker-alt"></i>
              </span>
            </p>
            <div class="c-autocomplete-results-container" data-target="algolia-places.resultsContainer"></div>
          </div>
          <div class="field c-field-has-autocomplete-results">
            <label class="label">Name</label>
            <div class="is-hidden" data-target="venue-autofill.path" data-url=<%= "#{venue_search_new_venue_path}" %>></div>
            <p class="control has-icons-left has-icons-right">
              <%= venue_form.text_field :name,
                autofocus: true,
                class: "input",
                placeholder: "What is the name of the venue?",
                :data => {
                  :target => 'venue-autofill.name',
                  :action => 'keyup->venue-autofill#searchHandler'
                }
              %>
              <span class="icon is-small is-left">
                <i class="fas fa-store-alt"></i>
              </span>
            </p>
            <div class="c-autocomplete-results-container" data-target="venue-autofill.results">
            </div>
          </div>

          <!-- ADDRESS -->
          <%= venue_form.fields_for :address, address do |address_form| %>
            <div class="field">
              <label class="label">Address</label>
              <p class="control has-icons-left">
                <%= address_form.text_field :address,
                  class: "input",
                  value: "#{address.address}",
                  placeholder: "What's the address?",
                  :data => {
                    :target => 'venue-autofill.address'
                  }
                %>
                <span class="icon is-small is-left">
                  <i class="fas fa-home"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">City</label>
              <p class="control has-icons-left">
                <%= address_form.text_field :city,
                  class: "input",
                  value: "#{address.city}",
                  :data => {
                    :target => 'venue-autofill.city'
                  }
                %>
                <span class="icon is-small is-left">
                  <i class="fas fa-city"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Postcode</label>
              <p class="control has-icons-left">
                <%= address_form.text_field :postcode,
                  class: "input",
                  value: "#{address.postcode}",
                  :data => {
                    :target => 'venue-autofill.postcode'
                  }
                %>
                <span class="icon is-small is-left">
                  <i class="fas fa-paper-plane"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Country</label>
              <p class="control has-icons-left">
                  <%= address_form.text_field :country,
                    class: "input",
                    value: "#{address.country}",
                    :data => {
                      :target => 'venue-autofill.country'
                    }
                  %>
                <span class="icon is-small is-left">
                  <i class="fas fa-globe-europe"></i>
                </span>
              </p>
            </div>
            <%= address_form.hidden_field :longitude, :data => { :target => 'venue-autofill.longitude' } %>
            <%= address_form.hidden_field :latitude, :data => { :target => 'venue-autofill.latitude' } %>
          <% end %>

          <!-- CATEGORY -->
          <div class="field">
            <label class="label">Category</label>
            <p class="control has-icons-left">
              <%= venue_form.text_field :category,
                class: "input",
                value: "#{venue.categories.first.try(:name)}",
                placeholder: "e.g. Café/Bar/Coworking Space",
                :data => {
                  :target => 'venue-autofill.category'
                } %>
              <span class="icon is-small is-left">
                <i class="fas fa-info-circle"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <p class="control has-icons-left">
              <%= venue_form.text_field :description,
              class: "input",
              placeholder: "e.g. Café/Bar/Coworking Space",
              :data => {
                :target => 'venue-autofill.description'
              } %>
              <span class="icon is-small is-left">
                <i class="fas fa-info-circle"></i>
              </span>
            </p>
          </div>

          <!-- WIFI -->
          <div class="field">
            <label class="label">Wifi</label>
            <div class="control">
              <label class="checkbox">
                <%= venue_form.check_box :has_wifi  %>
                This venue has WiFi
              </label>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <div class="select is-fullwidth">
                <!-- <select name="wifi_restrictions">
                  <%= wifi_restrictions_options %>
                </select> -->
                <%= venue_form.select(:wifi_restrictions, wifi_restrictions_options) %>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-stopwatch"></i>
              </div>
            </div>
          </div>

          <!-- TAGS -->
          <label class="label">Please select appropriate tags</label>
          <div class="tags" data-controller="tags">
            <span class="tag u-pointer" data-action="click->tags#activateTag">
              Serves Food
            </span>
            <span class="tag u-pointer" data-action="click->tags#activateTag">
              Open late
            </span>
          </div>

          <!-- PHOTO DISPLAY -->
          <label class="label">Photos</label>
          <div class="columns is-multiline">
            <% if venue.photos.any? %>
              <% venue.photos.each do |photo| %>
                <div class="column is-one-third">
                  <figure class="image is-square c-photo-thumbnail">
                    <%= link_to "Delete", venue_photo_path(venue, photo), method: :delete, class: "delete delete-button" %>
                    <%= image_tag photo.image, class: "u-object-fit" %>
                  </figure>
                </div>
              <% end %>
            <% end %>
          </div>
          
          <!-- PHOTO UPLOAD -->
          <div class="field u-margin-t-10px" data-controller="photo-upload">
            <div class="file has-name is-boxed is-primary is-small is-centered">
              <label class="file-label">
                <%= venue_form.fields_for :photo, photo do |photo_form| %>
                  <%= photo_form.file_field :image, class: "file-input", placeholder: "John", data: { action: "photo-upload#handleChange", target: "photo-upload.photoUploadInput" } %>
                <% end %>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">Upload a photo</span>
                </span>
                <span class="file-name is-hidden" data-target="photo-upload.fileName"></span>
              </label>
            </div>
          </div>
          


          <div id="opening-hours" class="is-hidden">
            <%#= venue_form.label :opening_hours %>
            <%# @opening_hours.each_with_index do |opening_hour, i| %>
              <div class="form-row">
                <div class="form-group col-md-6" style="margin-top:15px;">
                  <%#= venue_form. fields_for 'opening_hour[]', opening_hour do |f| %>
                    <%#= venue_form.label :day, "#{@weekdays[i]}" %>
                    <%#= venue_form.hidden_field :day, value: "#{i}" %><br />
                    <%#= venue_form.label :opens %>
                    <%#= venue_form.text_field :open, value: "00:00:00" %>
                    <%#= venue_form.label :closes %>
                    <%#= venue_form.text_field :close, value: "00:00:00" %>
                  <%# end %>
                </div>
              </div>
            <%# end %>
          </div>
          
          <!-- HIDDEN FIELDS -->
          <%= venue_form.hidden_field :foursquare_id, :data => { :target => 'venue-autofill.fourSquareId' } %>

          <div class="field is-grouped">
            <p class="control">
              <%= venue.form_submit_button(venue_form) %>
            </p>
            <%= venue.form_delete_button %>
            <p class="control">
            <% if venue.persisted? %>
              <%= link_to "Cancel", venue_path(venue), class: "button is-light" %>
            <% else %>
              <%= link_to 'Cancel', :back, class: "button is-light" %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>