<div class="column">
  <%= link_to venue_path(@venue_card), data: { target: "index-cards-ordering.card", id: "#{@venue_card.id}"} do %>
    <div class="c-card">
      <div class="image" style="<%= @venue_card.decorate.gradient %>, <%= @venue_card.decorate.hero_image_url(@venue_card.featured_photo ? url_for(@venue_card.featured_photo.image) : nil) %>">
        <div class="wifi-distance-container">
          <div class="wifi-block">
            <span class="icon is-medium has-text-primary">
              <i class="fas fa-lg fa-wifi"></i>
            </span>
          <h1 class="is-size-6 is-size-7-touch has-text-white has-text-shadow"><%= @venue_card.decorate.wifi_speed %></h1>
          </div>
          <div class="distance-block">
            <span class="icon is-medium has-text-primary">
              <i class="fas fa-lg fa-map-marker-alt"></i>
            </span>
            <h1 class="is-size-6 is-size-7-touch has-text-white has-text-shadow">X km</h1>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="content is-small has-text-dark">
          <h4 class="card-venue-name"><%= @venue_card.name %></h6>
          <p class="card-venue-description"><%= @venue_card.description %></p>
        </div>

        <div class="card-info-footer">
          <%= @venue_card.decorate.category_tags %>
          <div class="has-text-dark">
            <%= raw @venue_card.decorate.rounded_rating %> <%= @venue_card.decorate.review_count %>
          </div>
        </div>
      
      </div>
    </div>
  <% end %>
</div>

<%#= raw @venue_card.decorate.rating_stars("1x") %>