<section class="section email">
  <div class="container has-text-centered">
    <%= link_to @root_path do %>
      <div class="logo is-flex">
        <%= image_tag "logo_250w.png" %>
      </div>
    <% end %>
    
    <h1 class="title is-4"><%= @venue.name %> is now live!</h1>
    <figure class="image is-16by9">
      <img src="https://bulma.io/images/placeholders/480x320.png">
    </figure>
    <h2 class="subtitle is 6">
      Hi <%= @user.first_name %>, thanks for adding <strong><%= @venue.name %></strong> on remotekick.
      <br><br>
      <%= @venue.name %> is now live and can be accessed using the following URL:
      <br><br>
      <strong class="url">http://www.remotekick.com<%= @venue_url %></strong>
      <br><br>
      Feel free to share this link with your friends and colleagues, and help to get <%= @venue.name %> noticed as a fantastic place to kick back and do some work!
      <br><br>
      If you haven't already, why not be the first to <%= link_to "leave a review", @new_review_path %>?
    </h2>

    <%= link_to "Go to listing", @venue_url, class: "button is-medium is-primary is-fullwidth" %>
    <%= link_to "Edit listing", @venue_url, class: "button is-medium is-light is-fullwidth" %>
  </div>
</section>