<% flash.each do |key, value| %>
  <% if key === "notice" %>
    <div class="notification is-info is-marginless is-radiusless flash <%= "home-flash" if @current_page == "/" %>" data-controller="notification-dismissal">
      <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>

  <% if key == "alert" %>
    <div class="notification is-warning is-marginless is-radiusless flash <%= "home-flash" if @current_page == "/" %>" data-controller="notification-dismissal">
      <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>

  <% if key == "success" %>
    <div class="notification is-success is-marginless is-radiusless flash <%= "home-flash" if @current_page == "/" %>" data-controller="notification-dismissal">
      <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>

  <% if key == "warning" %>
    <div class="notification is-warning is-radiusless flash <%= "home-flash" if @current_page == "/" %>" data-controller="notification-dismissal">
      <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>

  <% if key == "error" %>
    <div class="notification is-danger is-radiusless flash <%= "home-flash" if @current_page == "/" %>" data-controller="notification-dismissal">
      <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<!-- Devise -->
<% if defined?(resource) && resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <div class="notification is-danger is-radiusless flash" data-controller="notification-dismissal">
      <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
      <ul>
        <li><h1><%= message %></h1></li>
      </ul>
    </div>
  <% end %>
<% end %>