<!--CHECKS TO SEE IF PAGE IS HOMEPAGE AS DEFINED IN PAGES_CONTROLLER#HOME-->
<% if @current_page == "/" %>
  <!--DISPLAYS TRANSPARENT NAVBAR BY ID-->
  <div class="navbar navbar-expand-sm navbar-light" id="navbar-lewagon-transparent">
<% else %>
  <!--DISPLAYS NON-TRANSPARENT NAVBAR BY ID-->
  <div class="navbar navbar-expand-sm navbar-light" id="navbar-lewagon">
<% end %>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://image.flaticon.com/icons/png/512/63/63842.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
            <%= link_to "Add a new listing", new_coffee_shop_path, id: "new_coffee_shop_link", class: "nav-link" %>
            <%= link_to "Dashboard", "#", class: "nav-link" %>
            <%= link_to "Account Settings", edit_user_registration_path, class: "nav-link" %>
            <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", method: :delete %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
