<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation" data-controller="mobile-menu">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_tag "logo_250w.png", class: "navbar-item" %>
    <% end %>

    <% if current_page?(:venues) %>
      <a id="navbar-filter-button" role="button" class="has-text-grey-dark is-hidden-desktop" aria-label="menu" aria-expanded="false">
        <i class="fas fa-sliders-h"></i>
      </a>
    <% end %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mobile-menu.hamburger" data-action="mobile-menu#doThisThing">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="c-navbar-links" class="navbar-menu" data-target="mobile-menu.menu">
    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to "Add a new listing", new_venue_path, id: "new_venue_link", class: "navbar-item heading is-size-6-touch" %>
        <%= link_to "Dashboard", "#", class: "navbar-item heading is-size-6-touch" %>
        <%= link_to "Account Settings", edit_user_registration_path, class: "navbar-item heading is-size-6-touch" %>
        <%= link_to "Log Out", destroy_user_session_path, class: "navbar-item heading is-size-6-touch", method: :delete %>
      <% else %>
        <div class="navbar-item heading is-size-6-touch">
          <%= link_to "Sign up", new_user_registration_path, class: "button is-primary" %>
          <%= link_to "Log In", new_user_session_path, class: "button is-light" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>