<article class="media">
  <%= render(AvatarComponent.new(user: review.user, type: "media_object")) %>
  <div class="media-content">
    <div class="content">
      <strong><%= review.user.first_name %></strong><br>
      <span class="has-text-primary">
        <%= raw review.rating_stars("1x") %>
      </span><br>
      <%= review.content %>
      <div class="columns is-multiline">
        <% if review.photos.any? %>
        <% review.photos.each do |photo| %>
        <div class="column is-one-quarter">
          <div class="image is-square c-photo-thumbnail">
            <%= image_tag photo.image, class: "u-object-fit" %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>

      <small>
        <% if policy(review).update? %>
        <%= link_to "Edit", edit_venue_review_path(venue, review) %>
        路
        <%= link_to "Delete", venue_review_path(venue, review), method: :delete %>
        路
        <% end %>
        <!-- <a>Like</a>
        路
        <a>Reply</a>
        路 -->
        <%= review.when_reviewed %>
      </small>
    </div>
  </div>
</article>