<section id="c-venues-show-hero-section" class="hero is-medium is-bold" style="<%= venue.gradient %>, <%= venue.decorate.hero_image_url(venue.featured_photo ? url_for(venue.featured_photo.image) : nil) %>">
  <div class="hero-body">
  <% if policy(venue).update? %>
    <%= link_to edit_venue_path(venue) do %>
      <button class="button c-venue-edit-button">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
        <span>Edit Details</span>
      </button>
    <% end %>
  <% end %>
    <div class="container has-text-centered">
      <h1 class="title is-2 has-text-white has-text-shadow">
        <%= venue.name %>
      </h1>
      <h2 class="subtitle is-6 has-text-white has-text-shadow">
        <%= venue.description %>
      </h2>
      <span class="icon is-medium has-text-light has-text-shadow">
        <%= raw venue.rating_stars("2x") %>
      </span>
      <h2 class="subtitle is-6 has-text-white has-text-shadow">
        <%= venue.reviews_info_text %>
      </h2>
    </div>
    <nav class="level is-mobile">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <i class="fas fa-door-open has-text-white"></i>
          <p class="subtitle is-6 has-text-white has-text-shadow">
            Open now
          </p>
        </div>
      </div>
    
      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <i class="fas fa-map-marker-alt has-text-white"></i>
          <p class="subtitle is-6 has-text-white">
            X miles away
          </p>
        </div>
      </div>
    </nav>
    
    <nav class="level is-mobile">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
        <% if venue.wifi_restrictions.positive? %>
          <i class="fas fa-stopwatch has-text-white"></i>
          <p class="subtitle is-6 has-text-white has-text-shadow">
            Venue has wifi restrictions.
          </p>
        <% else %>
          <i class="fas fa-check-circle has-text-white"></i>
          <p class="subtitle is-6 has-text-white has-text-shadow">
            Venue does not have wifi restrictions.
          </p>
        <% end %>
        </div>
      </div>
    
      <!-- Right side -->
      <div class="level-right">
      </div>
    </nav>
  </div>
</section>