<div id="index__filters" class="column is-one-third is-hidden-touch" data-controller="icon-state" data-target="mobile-index-navigation.indexFilters">
  <%= form_with url: venues_path, local: true, method: :get do |form| %>
  <!-- FILTER > LOCATION -->
  <div class="field c-field-has-autocomplete-results" data-controller="algolia-places">
    <p class="control has-icons-left">
      <%= form.text_field :location,
      class: "input",
      value: "#{searched_location(params[:location])}",
      :data => {
        :target => 'venue-autofill.location algolia-places.addressInput',
        :action => 'keyup->algolia-places#changeHandler',
        :request_path => location_search_path
      }
      %>
      <span class="icon is-small is-left">
        <i class="fas fa-city"></i>
      </span>
    </p>
    <div class="c-autocomplete-results-container" data-target="algolia-places.resultsContainer"></div>
  </div>
  <!-- FILTER > DISTANCE -->
  <div class="field">
    <div class="control is-expanded has-icons-left">
      <div class="select is-fullwidth">
        <select name="distance" data-controller="set-selected-option">
          <%= distance_options %>
        </select>
      </div>
      <div class="icon is-small is-left">
        <i class="fas fa-map-marker-alt"></i>
      </div>
    </div>
  </div>
  <!-- FILTER > RATING -->
  <div class="field">
    <label class="label">Rating</label>
    <div class="control">
      <% 5.times do | val | %>
        <%= radio_button_tag(:rating, "#{val}", params[:rating] == "#{val}", class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "rating" })%>
        <%= rating_options(:rating, val) %>
      <% end %>
    </div>
  </div>

  <!-- FILTER > WIFI SPEED -->
  <div class="field">
    <div class="control">
      <div class="filter level-filter level-req">
        <div id="rangeSlider" class="range-slider" data-controller="range-slider">
          <label class="label">Wifi Speed</label>
          
          <div class="number-group">
            <%= number_field_tag :upload_speed, selected_upload_speed(@venues, params[:upload_speed]), in: 0..highest_upload_speed(@venues), class: 'number-input', :data => { :target => 'range-slider.number', :action => 'range-slider#numberHandler' } %> to
            <%= number_field_tag :upload_speed, highest_upload_speed(@venues), in: 0..highest_upload_speed(@venues), class: 'number-input', :disabled => true, :data => { :target => 'range-slider.number', :action => 'range-slider#numberHandler' } %> Mbps
          </div>

          <div class="range-group">
            <%= range_field_tag :upload_speed, selected_upload_speed(@venues, params[:upload_speed]), in: 0..highest_upload_speed(@venues), class: 'range-input', :data => { :target => 'range-slider.range', :action => 'range-slider#sliderHandler' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FILTER > PLUG SOCKETS -->
  <div class="field">
    <label class="label">Plug sockets</label>
    <div class="control">
    <% 3.times do |val| %>
      <%= radio_button_tag(:plug_sockets, "#{val}", params[:plug_sockets] == "#{val}", class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "plug_sockets" }) %>
      <%= feature_rating_options(:plug_sockets, val) %>
    <% end %>
    </div>
  </div>

  <!-- FILTER > COMFORT -->
  <div class="field">
    <label class="label">Comfort</label>
    <div class="control">
    <% 3.times do |val| %>
      <%= radio_button_tag(:comfort, "#{val}", params[:comfort] == "#{val}", class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "comfort" }) %>
      <%= feature_rating_options(:comfort, val) %>
    <% end %>
    </div>
  </div>

  <!-- FILTER > QUIETNESS -->
  <div class="field">
    <label class="label">Quietness</label>
    <div class="control">
    <% 3.times do |val| %>
      <%= radio_button_tag(:quietness, "#{val}", params[:quietness] == "#{val}", class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "quietness" }) %>
      <%= feature_rating_options(:quietness, val) %>
    <% end %>
    </div>
  </div>

  <label class="label">Tags</label>
  <div class="tags" data-controller="tags">
    <span class="tag u-pointer" data-action="click->tags#activateTag">
      Serves Food
    </span>
    <div class="tag u-pointer" data-target="tags.tag" data-action="click->tags#activateTag">
      Open late
    </div>
  </div>

  <!-- FILTER > HAS WIFI -->
  <div class="field">
    <label class="checkbox">
      <%= form.check_box :has_wifi, checked: params[:has_wifi] == "1" %>
      Only show results with wifi
    </label>
  </div>

  <!-- FILTER > WIFI RESTRICTIONS -->
  <div class="field">
    <label class="checkbox">
      <%= form.check_box :no_wifi_restrictions, checked: params[:no_wifi_restrictions] == "1" %>
      Filter out results with wifi restrictions
    </label>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <%= form.submit "Search", class: "button is-primary" %>
    </p>
    <p class="control">
      <%= link_to "Clear all", venues_path, :class => "button is-light" %>
    </p>
  </div>
  <% end %>
</div>