<%= link_to venue_path(venue), data: { target: "index-cards-ordering.card", id: "#{venue.id}"} do %>
  <div class="c-card">
    <div class="image" style="<%= venue.decorate.gradient %>, <%= venue.decorate.hero_image_url %>">
      <div class="wifi-distance-container">
        <div class="wifi-block">
          <span class="icon is-medium has-text-primary">
            <i class="fas fa-lg fa-wifi"></i>
          </span>
        <h1 class="is-size-6 is-size-7-touch has-text-white has-text-shadow"><%= venue.decorate.wifi_speed %></h1>
        </div>
        <div class="distance-block">
          <span class="icon is-medium has-text-primary">
            <i class="fas fa-lg fa-map-marker-alt"></i>
          </span>
          <h1 class="is-size-6 is-size-7-touch has-text-white has-text-shadow">X km</h1>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="content is-small">
        <h4><%= venue.name %></h6>
        <p><%= venue.description %></p>
      </div>

      <div class="card-info-footer">
        <%= venue.decorate.category_tag %>
        <div>
          <%= raw venue.decorate.rounded_rating %> <%= venue.decorate.review_count %>
        </div>
      </div>
    
    </div>
  </div>
<% end %>

<%#= raw venue.decorate.rating_stars("1x") %>