<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-paddingless"></div>
      <div class="column is-two-fifths">
        <h1 class="title">Leave a review for <%= venue.name %></h1>
        <%= form_with model: venue, local: true, class: "form-group col-xs-6", :data => { :controller => 'icon-state' } do |venue_form| %>
    
          <!-- FILTER > NAME -->
          <div class="field">
            <label class="label">Name</label>
            <%= venue_form.text_area :name, class: "input", placeholder: "#{ venue.name }" %>
          </div>

          <!-- FILTER > CONTENT -->
          <div class="field">
            <label class="label">Description</label>
            <p class="control has-icons-left">
              <%= venue_form.text_area :description, class: "textarea", placeholder: "#{ venue.description }" %>
            </p>
          </div>

          <!-- FILTER > HAS WIFI -->
          <div class="field">
            <label class="checkbox">
              <%= venue_form.check_box :has_wifi, value: "0", checked: venue.has_wifi %>
              This venue does not have wifi
            </label>
          </div>
        
          <label class="label">Please select appropriate tags</label>
          <div class="tags"  data-controller="tags">
            <span class="tag u-pointer" data-action="click->tags#activateTag">
              Serves Food
            </span>
            <span class="tag u-pointer" data-action="click->tags#activateTag">
              Open late
            </span>
          </div>
          <div class="field" data-controller="photo-upload">
            <label class="label">Photos</label>
            
              
              <!-- <input class="file-input" type="file" name="resume"> -->
              <div class="file has-name is-boxed">
                <label class="file-label">
                  <%#= review.fields_for review_photo do |review_photo| %>
                    <%#= review_photo.file_field :photo_cache, as: :hidden %>
                    <%#= review_photo.file_field :photo, class: "file-input", data: { action: "photo-upload#doThis", target: "photo-upload.photoUploadInput" } %>
                  <%# end %>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload a photo...
                    </span>
                  </span>
                  <span class="file-name is-hidden" data-target="photo-upload.fileName"></span>
                </label>
              </div>
          </div>
    
          <div class="field is-grouped">
            <p class="control">
              <%= venue_form.submit "Update Venue", class: "button is-primary" %>
            </p>
            <p class="control">
              <%= link_to "Delete Venue", venue_path(venue), method: :delete, class: "button is-danger" %>
            </p>
            <p class="control">
              <%= link_to 'Cancel', :back, class: "button is-light" %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="column is-paddingless"></div>
    </div>
  </div>
</section>