<div data-controller="mobile-index-navigation" id="index-page">
  <%= render 'venues/index_partials/index__info_bar' %>
  <section class="section is-padding-small-touch" id="index__main-content">
    <div class="container">
      <div class="columns">
        <!-- LEFT SECTION DESKTOP (FILTERS) -->
        <%= render 'venues/index_partials/index__filters' %>
        <!-- RIGHT SECTION DESKTOP -->
        <div class="column" data-target="mobile-index-navigation.indexRightSection">
          <!-- MAP -->
          <%= render 'venues/shared_partials/map', :data => { :target => 'mobile-index-navigation.map' } %>
          <!-- CARDS AND CARD INFO BAR -->
          <section class="section u-padding-lr-0px is-hidden-touch is-padding-small-tb-touch" data-target="mobile-index-navigation.venuesList">
            <div class="container" data-controller="index-cards-ordering" id="index__cards-container">
              <!-- CARD INFO BAR -->
              <%= render partial: "venues/index_partials/index__cards-info-bar", locals: { venues: @venues } %>
              <!-- CARDS -->
              <div class="columns is-desktop is-multiline" data-target="index-cards-ordering.cardsList" id="index__cards">
                <%= render(VenueCardComponent.with_collection(@venues, is_column_wrapped: true)) %>
              </div>
              <!-- CARDS PAGINATION -->
              <%#= render 'venues/index_partials/index__pagination' %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <%= render 'venues/index_partials/index__mobile_lower_navigation' %>
</div>