<section id="index__info_bar" class="section is-padding-small-mobile">
  <div class="container">
    <%= render 'index__info_bar' %>
  </div>
</section>
<section id="index__main-content" class="section is-padding-small-mobile">
  <div class="container">
    <div class="columns">
      <!-- FILTERS -->
      <%= render 'index__filters' %>
      <div id="index__map-container" class="column">
        <%= render 'index__map' %>
        <section class="section u-padding-lr-0px">
          <div id="index__cards-container" class="container">
            <%= render partial: "index__cards-info-bar", locals: { venues: @venues } %>
            <div id="index__cards" class="columns is-multiline">
            <% @venues.each do |venue| %>
              <%= render partial: "index__cards", locals: { venue: venue } %>
            <% end %>
            </div>
            <section id="index__cards-pagination" class="section">
              <div class="container">
                <%= render 'index__pagination' %>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
