<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">Log in</h1>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Password" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <%= f.check_box :remember_me  %>
                Remember me
              </label>
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <%= f.submit "Log in", class: "button is-primary" %>
            </p>
            <p class="control">
              <%= link_to "Back", :back, class: "button is-light is-light" %>
            </p>
          </div>
        </div>
        <div class="column">
          <!-- Second column -->
        </div>
      </div>
    </div>
  </section>
<% end %>