<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-paddingless"></div>
      <div class="column is-two-fifths">
        <%= review.form_heading %>
        <%= form_with model: [venue, review], local: true, class: "form-group col-xs-6", :data => { :controller => 'icon-state' } do |review_form| %>
          <!-- FILTER > RATING -->
          <div class="field">
            <label class="label">Rating</label>
            <div class="control">
              <% 5.times do | val | %>
                <%= review_form.radio_button :rating, "#{val}", class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "rating" } %>
                <%= rating_options(:review_rating, val) %>
              <% end %>
            </div>
          </div>

          <!-- FILTER > CONTENT -->
          <div class="field">
            <label class="label">Review content</label>
            <p class="control has-icons-left">
              <%= review_form.text_area :content, required: true, class: "textarea", placeholder: "#{ review.content }" %>
            </p>
          </div>

          <!-- FILTER > WIFI SPEED -->
          <div class="field">
            <label class="label">Wifi Speed</label>
            <p class="control has-icons-left">
              <%= review_form.number_field :upload_speed, value: "#{review.upload_speed}", class: "input", type: "number", step: 0.1 %>
              <span class="icon is-small is-left">
                <i class="fas fa-wifi"></i>
              </span>
            </p>
          </div>

          <!-- FILTER > HAS WIFI -->
          <div class="field">
            <label class="checkbox">
              <%= review_form.check_box :has_wifi, { checked: !venue.has_wifi }, 0, 1 %>
              This venue does not have wifi
            </label>
          </div>

          <!-- FILTER > PLUG SOCKETS -->
          <div class="field">
            <label class="label">Plug sockets</label>
            <div class="control">
              <% 3.times do |val| %>
                <%= review_form.radio_button :plug_sockets, "#{val}", { checked: review.plug_sockets == val, class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "plug_sockets" }} %>
                <%= feature_rating_options(:review_plug_sockets, val) %>
              <% end %>
            </div>
          </div>

          <!-- FILTER > COMFORT -->
          <div class="field">
            <label class="label">Comfort</label>
            <div class="control">
              <% 3.times do |val| %>
                <%= review_form.radio_button :comfort, "#{val}", { checked: review.comfort == val, class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "comfort" }} %>
                <%= feature_rating_options(:review_comfort, val) %>
              <% end %>
            </div>
          </div>

          <!-- FILTER > QUIETNESS -->
          <div class="field">
            <label class="label">Quietness</label>
            <div class="control">
              <% 3.times do |val| %>
                <%= review_form.radio_button :quietness, "#{val}", { checked: review.quietness == val, class: "is-hidden", :data => { :target => 'icon-state.input', :filterType => "quietness" }} %>
                <%= feature_rating_options(:review_quietness, val) %>
              <% end %>
            </div>
          </div>

          <label class="label">Please select appropriate tags</label>
          <div class="tags" data-controller="tags">
            <span class="tag u-pointer" data-action="click->tags#activateTag">
              Serves Food
            </span>
            <span class="tag u-pointer" data-action="click->tags#activateTag">
              Open late
            </span>
          </div>

          <!-- PHOTO DISPLAY -->
          <label class="label">Photos</label>
          <div class="columns is-multiline">
            <% if review.photos.any? %>
              <% review.photos.each do |photo| %>
                <div class="column is-one-third">
                  <figure class="image is-square c-photo-thumbnail">
                    <%= link_to "Delete", venue_review_photo_path(venue, review, photo), method: :delete, class: "delete delete-button" %>
                    <%= image_tag photo.image, class: "u-object-fit" %>
                  </figure>
                </div>
              <% end %>
            <% end %>
          </div>

          <!-- PHOTO UPLOAD -->
          <div class="field" data-controller="photo-upload">
            <div class="field u-margin-t-10px" data-controller="photo-upload">
              <div class="file has-name is-boxed is-primary is-small is-centered">
                <label class="file-label">
                  <%= review_form.fields_for :photo, photo do |photo_form| %>
                    <%= photo_form.file_field :image, class: "file-input", placeholder: "John", data: { action: "photo-upload#handleChange", target: "photo-upload.photoUploadInput" } %>
                  <% end %>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Upload a photo</span>
                  </span>
                  <span class="file-name is-hidden" data-target="photo-upload.fileName"></span>
                </label>
              </div>
            </div>
          </div>


          <div class="field is-grouped">
            <p class="control">
              <%= review.form_submit_button(review_form) %>
            </p>
            <%= review.form_delete_button(venue) %>
            <p class="control">
              <%= link_to 'Cancel', :back, class: "button is-light" %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="column is-paddingless"></div>
    </div>
  </div>
</section>