<!-- <div class="new_review_alert">
  <h2>Leave a review for X</h2>
  <p>Thanks for leaving a review for X>. Reviews help us to ensure that the best and most up-to-date information about venues can be offered to our community of remote workers.</p>
</div> -->

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-paddingless"></div>
      <div class="column is-two-fifths">
        <h1 class="title">Leave a review for <%= @coffee_shop.name %></h1>
        <%= form_with model: [@coffee_shop, @review], local: true, method: :post, class: "form-group col-xs-6", :data => { :controller => 'index-filter-icons' } do |review| %>
          <!-- FILTER > RATING -->
          <div class="field">
            <label class="label">Rating</label>
            <div class="control">
              <% 5.times do | val | %>
                <%= review.radio_button :rating, "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' } %>
                <%= rating_options(:review_rating, val) %>
              <% end %>
            </div>
          </div>
    
          <!-- FILTER > CONTENT -->
          <div class="field">
            <label class="label">Review content</label>
            <p class="control has-icons-left">
              <%= review.text_area :content, required:true, class: "textarea", placeholder: "#{@coffee_shop.name} was #{@descriptives.sample}!" %>
            </p>
          </div>

          <!-- FILTER > WIFI SPEED -->
          <div class="field">
            <label class="label">Wifi Speed</label>
            <p class="control has-icons-left">
              <%= review.number_field :upload_speed, placeholder: "Please enter upload speed in Mbps", class: "input", type: "number" %>
              <span class="icon is-small is-left">
                <i class="fas fa-wifi"></i>
              </span>
            </p>
          </div>

          <!-- FILTER > HAS WIFI -->
          <div class="field">
            <label class="checkbox">
              <%= review.check_box :has_wifi, value: "0" %>
              This venue does not have wifi
            </label>
          </div>
      
          <!-- FILTER > PLUG SOCKETS -->
          <div class="field">
            <label class="label">Plug sockets</label>
            <div class="control">
              <% 3.times do |val| %>
                <%= review.radio_button :plug_sockets, "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' } %>
                <%= feature_rating_options(:review_plug_sockets, val) %>
              <% end %>
            </div>
          </div>
    
          <!-- FILTER > COMFORT -->
          <div class="field">
            <label class="label">Comfort</label>
            <div class="control">
              <% 3.times do |val| %>
                <%= review.radio_button :comfort, "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' } %>
                <%= feature_rating_options(:review_comfort, val) %>
              <% end %>
            </div>
          </div>
    
          <!-- FILTER > BUSYNESS -->
          <div class="field">
            <label class="label">Busyness</label>
            <div class="control">
              <% 3.times do |val| %>
              <%= review.radio_button :busyness, "#{val}", class: "is-hidden", :data => { :target => 'index-filter-icons.input' } %>
                <%= feature_rating_options(:review_busyness, val) %>
              <% end %>
            </div>
          </div>
        
          <label class="label">Please select appropriate tags</label>
          <div class="tags">
            <span class="tag">
              Serves Food
              <button class="delete is-small"></button>
            </span>
            <span class="tag">
              Open late
              <button class="delete is-small"></button>
            </span>
          </div>

          <%= review.simple_fields_for @review_photo do |review_photo| %>
            <%= review_photo.input :photo_cache, as: :hidden %>
            <%= review_photo.input :photo %>
          <% end %>
    
          <div class="field is-grouped">
            <p class="control">
              <%= review.submit "Submit review", class: "button is-primary" %>
            </p>
            <p class="control">
              <a class="button is-light" href="/">Cancel</a>
            </p>
          </div>
        <% end %>
      </div>
      <div class="column is-paddingless"></div>
    </div>
  </div>
</section>