<div class="container">
  <%= form_with model: [@coffee_shop, @review], local: true, method: :post do |review| %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= review.label :content %>:
        <%= review.text_area :content, required:true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :rating %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :rating, "0", class: "form-check-input" %>
        <%= review.radio_button :rating, "1", class: "form-check-input" %>
        <%= review.radio_button :rating, "2", class: "form-check-input" %>
        <%= review.radio_button :rating, "3", class: "form-check-input" %>
        <%= review.radio_button :rating, "4", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :plug_sockets %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :plug_sockets, "0", class: "form-check-input" %>
        <%= review.radio_button :plug_sockets, "1", class: "form-check-input" %>
        <%= review.radio_button :plug_sockets, "2", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :comfort %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :comfort, "0", class: "form-check-input" %>
        <%= review.radio_button :comfort, "1", class: "form-check-input" %>
        <%= review.radio_button :comfort, "2", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :busyness %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :busyness, "0", class: "form-check-input" %>
        <%= review.radio_button :busyness, "1", class: "form-check-input" %>
        <%= review.radio_button :busyness, "2", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :upload_speed %>:
        <%= review.number_field :upload_speed, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <%= review.label :serves_plant_milk, "Does this venue serve plant milk (soy, almond, oat, coconut)?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :serves_plant_milk, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :serves_plant_milk, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :serves_plant_milk, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= review.label :serves_smoothies, "Does this venue serve smoothies?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :serves_smoothies, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :serves_smoothies, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :serves_smoothies, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= review.label :serves_food, "Does this venue serve food?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :serves_food, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :serves_food, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :serves_food, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= review.label :air_conditioning, "Does this venue have air conditioning?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :air_conditioning, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :air_conditioning, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :air_conditioning, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>


    <div class="form-row">
      <%= review.simple_fields_for @review_photo do |review_photo| %>
        <%= review_photo.input :photo_cache, as: :hidden %>
        <%= review_photo.input :photo %>
      <% end %>
    </div>

    <%= review.submit "Submit review", { class: "btn-primary" } %>
  <% end %>
</div>


<!-- <div class="new_review_alert">
  <h2>Leave a review for X</h2>
  <p>Thanks for leaving a review for X>. Reviews help us to ensure that the best and most up-to-date information about venues can be offered to our community of remote workers.</p>
</div> -->

<div class="new_review_container">

    <%= form_with model: [@coffee_shop, @review], local: true, method: :post do |review| %>

      <div class="form-style-5">
        <form>

          <h2 class="margin-bottom-md">My review for <%=@coffee_shop.name%>:</h2>
          <!-- <legend><span class="number">1</span>Review:</legend> -->
            <%= review.text_area :content, required:true %>

      <ul>
        <li>
          <!-- <input type="radio" id="f-option" name="selector"> -->
          <%= review.radio_button :comfort, "2", id: "f-option" %>
          <label for="f-option">It was very comfortable</label>

          <div class="check"></div>
        </li>

        <li>
          <!-- <input type="radio" id="s-option" name="selector"> -->
          <%= review.radio_button :comfort, "1", id: "s-option" %>
          <label for="s-option">It was somewhat comfortable</label>

          <div class="check"><div class="inside"></div></div>
        </li>

        <li>
          <!-- <input type="radio" id="t-option" name="selector"> -->
          <%= review.radio_button :comfort, "0", id: "t-option" %>
          <label for="t-option">It was not comfortable</label>

          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>

      <div class="form-row">
        <%= review.simple_fields_for @review_photo do |review_photo| %>
          <%= review_photo.input :photo_cache, as: :hidden %>
          <%= review_photo.input :photo %>
        <% end %>
      </div>

      <%= review.submit "Submit review" %>
    <% end %>
    </form>
  </div>
</div>
