<div class="container">
  <%= form_with model: [@coffee_shop, @review], local: true, method: :post do |review| %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= review.label :content %>:
        <%= review.text_area :content, required:true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :rating %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :rating, "0", class: "form-check-input" %>
        <%= review.radio_button :rating, "1", class: "form-check-input" %>
        <%= review.radio_button :rating, "2", class: "form-check-input" %>
        <%= review.radio_button :rating, "3", class: "form-check-input" %>
        <%= review.radio_button :rating, "4", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :plug_sockets %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :plug_sockets, "0", class: "form-check-input" %>
        <%= review.radio_button :plug_sockets, "1", class: "form-check-input" %>
        <%= review.radio_button :plug_sockets, "2", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :comfort %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :comfort, "0", class: "form-check-input" %>
        <%= review.radio_button :comfort, "1", class: "form-check-input" %>
        <%= review.radio_button :comfort, "2", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <%= review.label :busyness %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <%= review.radio_button :busyness, "0", class: "form-check-input" %>
        <%= review.radio_button :busyness, "1", class: "form-check-input" %>
        <%= review.radio_button :busyness, "2", class: "form-check-input" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :upload_speed %>:
        <%= review.number_field :upload_speed, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <%= review.label :serves_plant_milk, "Does this venue serve plant milk (soy, almond, oat, coconut)?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :serves_plant_milk, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :serves_plant_milk, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :serves_plant_milk, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= review.label :serves_smoothies, "Does this venue serve smoothies?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :serves_smoothies, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :serves_smoothies, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :serves_smoothies, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= review.label :serves_food, "Does this venue serve food?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :serves_food, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :serves_food, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :serves_food, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <%= review.label :air_conditioning, "Does this venue have air conditioning?" %>
    </div>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <div>
          <p>Yes</p>
          <%= review.radio_button :air_conditioning, "true", class: "form-check-input" %>
        </div>
        <div>
          <p>No</p>
          <%= review.radio_button :air_conditioning, "false", class: "form-check-input" %>
        </div>
        <div>
          <p>Don't know</p>
          <%= review.radio_button :air_conditioning, "nil", class: "form-check-input" %>
        </div>
      </div>
    </div>


    <div class="form-row">
      <%= review.simple_fields_for @review_photo do |review_photo| %>
        <%= review_photo.input :photo_cache, as: :hidden %>
        <%= review_photo.input :photo %>
      <% end %>
    </div>

    <%= review.submit "Submit review", { class: "btn-primary" } %>
  <% end %>
</div>
