<div class="container">
  <%= form_with model: [@coffee_shop, @review], local: true, method: :post do |review| %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= review.label :content %>:
        <%= review.text_area :content, required:true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :rating %>
        <br>
          <%= radio_button_tag(:rating, "1", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "2", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "3", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "4", class: "form-check-input") %>
          <%= radio_button_tag(:rating, "5", class: "form-check-input") %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :plug_sockets %>:
        <%= review.number_field :plug_sockets, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :comfort %>:
        <%= review.number_field :comfort, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :busyness %>:
        <%= review.number_field :busyness, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :upload_speed %>:
        <%= review.number_field :upload_speed, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :serves_plant_milk %>:
        <%= review.check_box :serves_plant_milk, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :serves_smoothies %>:
        <%= review.check_box :serves_smoothies, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :serves_food %>:
        <%= review.check_box :serves_food, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" style="margin-top:15px;">
        <%= review.label :air_conditioning %>:
        <%= review.check_box :air_conditioning, as: :boolean, class: 'form-control' %><br />
      </div>
    </div>


    <div class="form-row">
      <%= review.simple_fields_for @review_photo do |review_photo| %>
        <%= review_photo.input :photo_cache, as: :hidden %>
        <%= review_photo.input :photo %>
      <% end %>
    </div>

    <%= review.submit "Submit review", { class: "btn-primary" } %>
  <% end %>
</div>
